/* ============================================== 
  Media Query : 1200px
============================================== */
@media only screen and (max-width:1199px) {}



/* ============================================== 
  Media Query : 991px
============================================== */
@media only screen and (max-width: 991px) {}


/* ============================================== 
  Media Query : 767px
============================================== */
@media only screen and (max-width: 767px) {

  .banner-left {
    &:after {
      display: none;
    }
  }

  ul#pills-tab {
    display: inline-flex;
  }

  ul.pagination {
    display: inline-flex;
  }
}




/* ============================================== 
  Media Query : 575px
============================================== */
@media only screen and (max-width: 575px) {

  .banner-left {
    text-align: center;

  }

  .banner-site {
    margin-bottom: 1.875rem !important;
  }


  .banner-right {
    text-align: center;
  }

  .footer-widget {
    text-align: center;
  }

  ul.footer-social-list {
    margin-top: 1.875rem !important;
  }
  .testimonial-title {
    text-align: center;
  }

}