$theme-utility: (
  "primary":  var(--bs-primary),
  "secondary": var(--bs-secondary),
  "success":   var(--bs-success),
  "info":      var(--bs-info),
  "warning":   var(--bs-warning),
  "danger":     var(--bs-danger),
  "light":      var(--bs-light),
  "dark":      var(--bs-dark),  
  "white":      var(--bs-white),    
) !default;                
// Utilities  
$utilities: () !default;
$utilities: map-merge(
  (
    "color": (
        property: color,
        class: text,
        values: map-merge(
          $theme-utility, 
          (  
            "transparent": transparent, 
            "reset": inherit,
          )
        )
      ),
    "background-color": (
      property: background-color,
      class: bg,
      values: map-merge( 
        $theme-utility,   
        (   
          "transparent": transparent
        )
      )
    ),
  ),
  $utilities
);