// color mode light
$colors: (
  "blue":       #3B739E,
  "indigo":     #6610f2,
  "purple":     #6f42c1,
  "pink":       #d63384,
  "red":        #dc3545,
  "orange":     #fd7e14,
  "yellow":     #ffc107,
  "green":      #198754,
  "teal":       #20c997,
  "cyan":       #0dcaf0,
  "gray":       #dee2e6,  
) !default;
$theme-colors: (
  "primary":  #3b739e,
  "secondary":#626971, 
  "success":  #63A31B,    
  "info":     #00BDC4,  
  "warning":  #EF8700, 
  "danger":   #DD2C2C, 
  "light":    #f5f5f5,      
  "dark":     #122F5B,  
  "white":    #ffffff, 
) !default;

// color mode dark
$colors-dark: (
  "blue":       #3b739e,
  "indigo":     #6610f2,
  "purple":     #6f42c1,
  "pink":       #d63384,
  "red":        #dc3545,  
  "orange":     #fd7e14,
  "yellow":     #ffc107,
  "green":      #198754,
  "teal":       #20c997,
  "cyan":       #0dcaf0,
  "gray":       #4b535f, 
) !default;
$theme-colors-dark: (  
  "primary":    #77849e,
  "secondary":  #6b798a,  
  "success":    #c172ea, 
  "info":       #28a745,
  "warning":    #ffc107,
  "danger":     #fd8c54,
  "light":      #343b45,
  "white":      #03060c,  
  "dark":       #77849e,    
) !default;        
// body color          
$body-color: var(--bs-secondary);    
$link-hover-color:  var(--bs-blue); 
// Forms
$input-bg: transparent;
$input-border-color: var(--bs-gray); 
// Typography
$font-size-base: 1rem;
$font-family-base: 'Open Sans', sans-serif;
$headings-font-family:'Manrope', sans-serif;
$font-weight-bold: 700;
$headings-font-weight: 800;
$font-weight-normal: 400;
$font-weight-medium: 600;
$line-height-base: 1.7; 
$headings-line-height: 1.2;
$headings-color: var(--bs-secondary);
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$display-line-height: 1;
$display-font-weight: 700;
// Component
$border-radius: 10px;
$border-radius-sm: 3px;
$border-radius-lg: 20px;
$box-shadow: 0 0 20px -15px #181818;
$box-shadow-sm: 0 0 15px -10px #181818;
$box-shadow-lg: 0 0 18px -10px #000000;
$modal-fade-transform: scale(1);
$card-border-width:0;
// Spacing
$spacer: 0.9375rem; 
$spacers: ();
$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: ($spacer * 1),
    4: ($spacer * 2),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8)),
  $spacers);
// Component
$border-color:  var(--bs-gray); 
// Buttons
$btn-font-weight: $font-weight-medium;
$input-btn-padding-y: .6rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: .2rem;
$input-btn-padding-x-sm: .8rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 4rem;
// Pagination
$pagination-color: var(--bs-secondary);
$pagination-bg: var(--bs-light);
$pagination-border-width: .1rem;
$pagination-border-color:var(--bs-primary);
$pagination-border-radius: $border-radius-sm;
$pagination-hover-color: var(--bs-light);
$pagination-hover-bg: var(--bs-primary);
$pagination-hover-border-color: var(--bs-primary);
$pagination-active-color: var(--bs-light);
$pagination-active-bg: var(--bs-success);
$pagination-active-border-color: var(--bs-primary);
// Grid columns
$grid-gutter-width: 1.875rem;
 // variable prefix
$variable-prefix:  bs-;


