/*
==========================================
    About Bio Area
==========================================
*/
.about-bio-box {
   
  box-shadow: none;
  transition: box-shadow 500ms ease;

  &:hover {
      box-shadow: $box-shadow-sm;
      transition: box-shadow 500ms ease;

  }
 
}