/*
==========================================
    Banner Area
==========================================
*/
.post-tab .nav-link.active {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: $dark;
    display: block;
    transition: all .2s ease-in-out;
    position: absolute;
    bottom: -9px;
  }
}

.page-link {
  background-color: transparent;
  border: 0;

  &:hover {
    color: $danger;
    background: transparent;

  }
}



.back-to-top{
  position: absolute;
  left: 0;
  right: 0;
  a{
    background: $white;
    padding: 25px;
    clip-path: polygon(49% 1%, 100% 50%, 50% 100%, 0% 50%);

  }
  .back-to-top-icon{
    position: relative;
    top: -11px;
  }
}


.post-style-2{
  img{
    width: 40px;
    height: 40px; 
    object-fit: cover;
  }
}

.post-style-hover {
  transition: .5s;

  &:hover {
    box-shadow: $box-shadow;
    transition: .5s;

  }


}

.post-tab {
  .nav-link {
    color: $dark;

    &:hover {
      color: $danger;
    }
  }
}


.sidebar-logo {
  img {
    height: 140px;
  object-fit: cover;
    width: 140px;
  }
}


.post-style-3-image img {
  height: 155px;
  max-width: 155px;
  float: left;
  object-fit: cover;
}


 

.sticky-70{
  top: 70px;
}





.btn-link-style-1:hover i {
  transform: translateX(0px);
  transition: all ease 500ms;
}
 
 

.btn-link-style-1 i {
  transform: translateX(10px);
  transition: all ease 500ms;
}





/* Style the active class, and buttons on mouse-over */



