/*
==========================================
    Campaign Area
==========================================
*/
.donation-details{ 
 
      display: flex;
      border-radius:$border-radius;
    
   .donation-wrapper{
         height:100%;
         width:100%;
         padding:20px; 
         background-color:$white;
         box-shadow:$box-shadow;
         border-radius:$border-radius;
       .donation-countdown{
         margin: 0;  
         li{
           display: inline-block; 
           text-align:center; 
           padding:10px 5px;
           margin: 0 5px; 
           h3{ 
             margin:0;
           }
           span{
             font-size:$font-size-sm;
           }
         }
       }
       .donation-list{
          li{
            margin:5px 0;
            position: relative; 
            padding-left: 25px;
            span{
              position: absolute;
              left: 0;
            }
          }
       }
      .donation-progress{
        counter-reset: step;
       padding: 0;
       margin: 0;
      }
      .donation-progress li{
        display: inline-block;
        width:30%;
        position: relative;
         
      }
      .donation-progress li:before{
        content: counter(step); 
        counter-increment: step;
        display: block;
        border: 1px solid $info;
        width: 25px;
        height:25px;
        padding: 12px 0;
        margin: 10px 0;
        border-radius: 100%;
        background: $info;
        color:$white ;
        position: relative;
        z-index: 2;
        font-size: 10px;   
        line-height:0;
        text-align: center;
      }
      .donation-progress li:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $info;
        left: -82%;
        top: 31%;
      }
      .donation-progress li:first-child:after{
        content: none;
      }
      .donation-progress li.active{
        color:  $primary;
      }
      .donation-progress li.active:before{
        border-color: $primary;
        background:  $primary;
      }
      .donation-progress li.active + li:after{
        background:  $primary;
      }

   }
  }
  @media all and (max-width: 767px) {
    .donation-details{ 
     .donation-wrapper{
         .donation-countdown{
           margin: 0; 
           li{
            float: left;
            width: 50%;  
            margin: 0;
            span{
              font-size: $font-size-sm;
            }
           }
         }
        }
      }
  }