/*
==========================================
    Contact Area
==========================================
*/


.contact-address-box{
  box-shadow: none;
  transition: box-shadow 500ms ease;
  &:hover {
    box-shadow: $box-shadow-sm;
    transition: box-shadow 500ms ease;
  }
}
.google-map iframe {
  width: 100%;
  height: 400px;
}
#contact-map {
	min-height: 400px;
	width: 100%;
}