
/*
==========================================
    Faq Area
==========================================
*/
.faq-accordion{
    .card{
       
       border:0;
       margin-bottom:1rem; 
        .card-header{
           border:0;
           padding:0;
           button{
            width: 100%;
           text-align: left;
           padding:.5rem 1rem;
           background-color: $light;
           position:relative;
           border-radius: $border-radius;
           color : $dark;
           border: 1px solid $light;
           font-weight: $font-weight-medium;
           padding-right: 40px;
           &:hover {
              color: $primary;
           }
              &:after,&:before{
                 content:'';
                 width: 1rem;
                 height: .1rem;
                 display: block;
                 position: absolute;
                 right: 1rem;
                 top: 1.3rem;
                 background-color:$primary;
              }
               &[aria-expanded="false"]{
               &:after{
                transform:rotate(90deg);
              }
              }
              
           }
        }
        .card-body{
 
        }
         
    }
 }