 
/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/
 
.navbar-brand {
	font-size: 2rem;

	img {
		max-height: 40px;
	}
}

 
	 
			ul {			
				
				li.togglebar {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					cursor: pointer;
					width: 40px;
					height: 40px;
                    border-radius: 5px;			

					text-align: center;
					transition: all 0.3s ease-in;
					.line {
						display: inline-block;
						width: 20px;
						height: 3px;
						margin: 2px 0;
						transition: 0.5s;
						background: var(--bs-dark);
					}
					
				}
				 
			}
	 
		
		
        li.togglebar.active {
            opacity: 0;
            visibility: hidden;
        }
		ul.menu-toogle-wrapper{
			display: inline-flex;
			align-items: center;
		}
		a.color-mode__btn i {
			color: var(--bs-dark);
		}



  


