/*
==========================================
    Maintain Area
==========================================
*/
.maintain-form{
    box-shadow: $box-shadow;
    padding:40px 30px;
    border-radius: $border-radius;
    .form-control{
        margin-bottom: 20px;
        background-color: $light;
        border: 1px solid #f5f5f5;
    }
    .maintain-countdown{
        margin: 0; 
        li{
          display: inline-block; 
          text-align:center; 
          margin: 5px 15px; 
          h3{
             display: block; 
          }
        }
      }
}
@media all and (max-width: 767px) {

    .maintain-form{
        .maintain-countdown{
            li {
                margin: 5px 5px;
            }
        }
    }
}