/*
==========================================
    Page Title Area
==========================================
*/
.page-title-area{
  
    background-color: $primary;
    background-position: center;
    position: relative;
    &::before{
         
    }
}
.page-title-wrapper{
    position: relative;
    z-index: 5;
}
.page-breadcrumb{
  .breadcrumb{
    justify-content: center;
  }
   ol{
       margin: 0;
       font-size: $small-font-size;
       li{
           &::before{
               color:$white !important;
           }
       }
       li, li.active, li a{
            color:$white;
       }
   }
}