/*
==========================================
    Posts
==========================================
*/
.post-style-1.border-bottom:last-child {
    border: 0!important;
    margin-bottom: 0!important;
}
.post-style-2.border-bottom:last-child {
    border: 0!important;
    margin-bottom: 0!important;
}
.post-style-3-image img {
    height: 155px;
    max-width: 155px;
    float: left;
    object-fit: cover;
  }
  .post-style-3 {
	
	.hospital-image {
		position: relative;
		overflow: hidden;
		max-height: 320px;
		width: 300px;
	
	}
	.post-image {
		img {
			width: 300px;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
			 
			border-radius: 10px 0 0 10px;
		}
	}
	.post-content {
		width: calc(100% - 300px);
		padding: 30px;
	}
	position: relative;
	background-color: $white;
	box-shadow:none;   
	 
	transition: box-shadow 500ms ease;
	display: flex;
    &:hover {
        box-shadow: $box-shadow-sm;   
		transition: box-shadow 500ms ease;
    }
}

.author-name {
	font-weight: $font-weight-medium;
}
.read-more-link a {
    font-weight: $font-weight-medium;
    color: $primary;
}