/*
==========================================
    Posts
==========================================
*/
.post-style-1.border-bottom:last-child {
    border: 0!important;
    margin-bottom: 0!important;
}
.post-style-2.border-bottom:last-child {
    border: 0!important;
    margin-bottom: 0!important;
}
 