
/*
==========================================
    Pricing Area
==========================================
*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bs-dark);
    -webkit-transition: 0.4s;
    transform: translate(0px, 0px);
    transition: 0.6s ease transform, 0.6s box-shadow;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--bs-white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked+.slider {
    background-color: var(--bs-primary);
}

input:focus+.slider {
    box-shadow: 0 0 1px (--bs-primary); 
}
input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.pricing-box {
    box-shadow: $box-shadow-sm;
    position: relative;
    .pricing-list {
        i {
            font-size: 10px;
        }
    }    
}
.ribbon-top-right {
	top: -10px;
	right: -10px;
	span {
		left: -25px;
		top: 30px;
		transform: rotate( 45deg );
	}
	&::after {
		bottom: 0;
		right: 0;
		border-top-color: transparent;
		border-right-color: transparent;
	}
	&::before {
		border-top-color: transparent;
		border-right-color: transparent;
	}
}
.ribbon {
	width:129px;
	height: 129px;
	overflow: hidden;
	position: absolute;
	span {
		position: absolute;
		display: block;
		width: 204px;
		padding: 5px 0;
		background-color: var(--bs-primary); 
		box-shadow: $box-shadow;
		color:var(--bs-white);
		text-transform: uppercase;
		text-align: center;
	}
	&::before {
		position: absolute;
		z-index: -1;
		content: '';
		display: block;
		border: 5px solid var(--bs-primary);
	}
	&::after {
		position: absolute;
		z-index: -1;
		content: '';
		display: block;
		border: 5px solid var(--bs-primary);
	}
}
