/*
==========================================
   Tabs
==========================================
*/
.tabs-menu{
  ul{
    li{
      display: inline-block;
      a{
        padding: 10px 15px;
        font-weight: $font-weight-medium;        
        color: $dark;
        transition: all ease 500ms;
        &:hover {
          color: $primary;
        }
      }
      .active{
        
     
        &:after{
          content: '';
          position: absolute;
          width: 20px;
          height: 2px;
          background-color:$primary;
          display: block;
          transition: all .2s ease-in-out;
          position: absolute;
         top: 40px;
        }
        color: $danger;
      }
    }
  }
  .active, .a:hover {

    color:$danger;
  }
  

}