/*
==========================================
   Tabs
==========================================
*/
.tabs-menu{
  ul{
    li{
      display: inline-block;
      a{
        padding: 10px 15px;
        font-weight: $font-weight-medium;        
        color: $dark;
        transition: color 500ms ease;
        &:hover {
          color: $primary;
        }
      }
      .active{
        
     
        &:after{
          content: '';
          position: absolute;
          width: 20px;
          height: 2px;
          background-color: $primary;
          display: block;
          transition: background-color 500ms ease;
          position: absolute;
         top: 44px;
        }
        color: $primary;
      }
    }
  }
  .active, .a:hover {

    color:$primary;
  }
  

}