/*
==========================================
   Team Area
==========================================
*/
.team-item{
    box-shadow:$box-shadow-sm;
    transition: $transition-base; 
    border-radius: $border-radius;
    overflow: hidden;
    transition: $transition-base;
    .team-image{
        overflow: hidden;
        position: relative;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        img{
            width: 100%;
            transition: $transition-base;
            filter:contrast(0.8);
        }
    }
    .team-content{
        padding:20px;
    }
    .team-social{
        margin: 0;
        position: absolute;
        bottom: 15px;
        left: 15px;
        opacity: 0;
        visibility: hidden ;
        transition: $transition-base;
        z-index: 2;
        li{
          a{
            background-color: $white;
            width: 30px;
            height: 30px;
            padding: 3px 0;
            display: block;
            border-radius: 100px;
            text-align: center;
            color: $primary;
            transition: $transition-base;
            &:hover{
                background-color: $info;
                color: $white;
            }
          }
        }
      }
    &:hover{
        transform: scale(1.01);
        box-shadow: $box-shadow-lg;
        .team-image{
            img{
                transform: scale(1.02);
              filter: contrast(1);
            }
        }
        .team-social{
            opacity: 1;
            visibility: visible;
        }
    }
}
