/*
==========================================
    Video Area
==========================================
*/
.video-item{
  position:relative;
  border-radius:$border-radius;
  overflow:hidden;
  &:before{
     content:'';
     position:absolute;
     bottom:0;
     right:0;
     left:0;
     z-index: 1;
     width:100%;
     height:100%;
     background:linear-gradient(5deg,#161616 10%,rgba(22,22,22,.770746) 25%,rgba(0,212,255,0) 70%);
     transition:$transition-base; 
  }
  .video-image{
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    transition: $transition-base;
    object-fit: cover;
    max-height:270px;
  }
  .video-popup{
       position: absolute;
       top: 15px;
       right: 15px;      
      border:2px solid $white;
      color:$white;
      padding: 12px;
      height: 50px;
      width: 50px;
      z-index:2;
      border-radius:100%;
      transition: $transition-base;
      background-color:rgba($secondary, 0.4);
      text-align: center;
  }

}
 .video-content{
    position:absolute;
    bottom:15px;
    right:15px;
    left:15px;
    z-index: 2;
    transition: $transition-base;
    .btn{
      font-size:$small-font-size;
      padding:2px 10px;
    }
 }
  &:hover{
    &:before{
        background-color: rgba($secondary, 0.6);
    }
    img{
      transform: scale(1.03,1.1);
    }
    .video-popup{
       transform: scale(1.1);
    }
    .video-content{
      margin-bottom: 10px;
    }
  }
}