.header-navbar .navbar-brand:before {
   right: auto;
   left: 0;
}
.header-navbar .navbar-brand {
   padding-left: 10px;
}
.call-to-action-form input {
     margin-left: 15px;
}
.modal-header .btn-close {
   margin: -.5rem auto -.5rem -.5rem!important;
}
.banner-wrapper .banner-content {
   max-width: 100%;
 
}

.banner-bg-image:before {
   background: linear-gradient(-135deg,#fff 42%,rgba(255,255,255,0) 75%);
  
}
.banner-wrapper {
     padding: 25% 0;
}
.upcoming-prayer .upcoming-prayer-wrapper .prayer-meta li i {
   margin-left: 5px;
}
.footer-widget .footer-social li a, .contact-share-social li a, .team-item .team-social li a {

 padding: 0  0;

}.banner-arrows .banner-next, .banner-arrows .banner-prev {
 
    padding: 0; 

}
.team-item .team-social {
   right: 15px;
   left: 0!important;
}
.mean-container .mean-bar .navbar-mobile {

   float: left;
} 
.mean-container .mean-bar .mean-nav {
   margin-top: 50px;

}

li.breadcrumb-item.active {
   padding: 0;
}